{% extends 'base.html' %}
{% block body %}
<div class="container marketing my-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
       <img src="/static/wd.jpeg" class="rounded me-2" alt="...">

        <h2>Western Jalwa</h2>
        <p>Get it at 100 rupees only if you share it with two girls</p>
        <p><a class="btn btn-success" href="/womenoffer">See More »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img src="/static/xi.jpeg" class="rounded me-2" alt="...">

        <h2>Xaiomi ka Nakhre</h2>
        <p>Best Mobile Collections Ever,Move with Xaiomi tonight</p>
        <p><a class="btn btn-secondary" href="/phone">View offers »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img src="/static/dw.jpeg" class="rounded me-2" alt="...">

        <h2>Gorgeous Gown</h2>
        <p>Buy 2 @499 and get 4 , hurry up! offer is for limited time</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <img src="/static/hd.jpeg" class="rounded me-2" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
       <img src="/static/watch.jpeg" class="rounded me-2" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="/static/trolly.jpeg" class="rounded me-2" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
{% endblock body %}
